#grid-container {
    position:absolute;
    width:100vw;
    height:100vh;
    display: grid;
    padding: 1px;
    grid-template-rows: 7.5% 92.5%;
    grid-template-columns: 15% 85%;
    grid-row-gap: 10px;
}

#navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    margin-top: 0.5%;
    margin-left: 0.4%;
    width: 99%;
}

#left-sidebar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-left: 2.5%;
}

#left-sidebar-header {
    margin-top: 9%;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--swatch-complement);
}

/* #6-header-card{
    margin-top: 1.05%;
} */

#left-sidebar-header-text {
    background-color: var(--swatch-primary);
}

#add-undo-redo-box{
    background-color: var(--swatch-complement);
    margin-top: 22.5%;
}

#workspace {
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
    margin-right: 0.55%;
}

#todo-list-items-div{
    display: grid;
    flex-direction: column;
}

.list-item-card {
    /* height: 20%; */
    display: flex;
    flex-direction: row;
}

.task-col {
    width:25%;
}

.due-date-col {
    width:25%;
}

.status-col {
    width:25%
}

.list-controls-col {
    margin: 0;
    width:25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-item-control {
    width: 20%;
}

.listItemName{
    margin-top: 9.5%;
}

.listItemDate{
    margin-top: 9.5%;
}

.listItemStatus{
    margin-top: 9.5%;
}

#modal-overlay{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

#modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 35%;
    top: 25%;
    width: 30%;
    animation: appear_in .3s ease;
    color: #e9edf0;
    background-color: rgb(64, 69, 78);
    border-radius: 3px;
}

.modal-header{
    margin: 4%;
    display: flex;
    flex-direction: row;
    height: 1%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.header{
    border-bottom: 2px dotted;
    color: #e9edf0;
}

.modal-button{
    margin-bottom: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 20%;
    padding: 2%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    background-color: transparent;
    font-family: 'Consolas';
    border: none;
    transition: 0.1s ease-in-out;
    color: lightgray;
    text-align: center;
    font-size: 12pt;
}

.modal-button:hover{
    background-color: #e9edf0;
    color: black;   
}

.list-item-control{
    pointer-events: none;
    color: #322d2d;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
  }
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}